
out/.vs/cmake.db
out/.vs/ImageAnnotation/v17/Solution.VC.db-wal
out/.vs/ImageAnnotation/v17/Solution.VC.db-shm
out/.vs/ImageAnnotation/v17/Solution.VC.db
out/.vs/ImageAnnotation/v17/ipch/AutoPCH/ffb96467165b8496/MAINWINDOW.ipch
out/.vs/ImageAnnotation/v17/ipch/AutoPCH/ace51e09b14111fe/MOC_APP.ipch
out/.vs/ImageAnnotation/v17/ipch/AutoPCH/9be4ad957f8c0794/APP.ipch
out/.vs/ImageAnnotation/v17/ipch/AutoPCH/331d47fafc60bd9e/IMAGEANNOTATIONYOLO.ipch
out/.vs/ImageAnnotation/v17/Browse.VC.opendb
out/.vs/ImageAnnotation/v17/Browse.VC.db-wal
out/.vs/ImageAnnotation/v17/Browse.VC.db-shm
out/.vs/ImageAnnotation/v17/Browse.VC.db
out/.vs/ImageAnnotation/v17/.suo
out/.vs/ImageAnnotation/FileContentIndex/read.lock
out/.vs/ImageAnnotation/FileContentIndex/fe5e1732-c86f-4db9-be31-bf694c81a844.vsidx
out/.vs/ImageAnnotation/FileContentIndex/aef41ce9-e748-40fb-bfe3-211324d33a41.vsidx
out/.vs/ImageAnnotation/FileContentIndex/86c6f319-971e-472a-a8a7-24755b5b2c12.vsidx
out/.vs/ImageAnnotation/FileContentIndex/098d7fd1-7019-463f-817c-44841abe97f7.vsidx
out/CMakeCache.txt
out/CMakeFiles/3.26.3/CMakeCXXCompiler.cmake
out/CMakeFiles/3.26.3/CMakeDetermineCompilerABI_CXX.bin
out/CMakeFiles/3.26.3/CMakeRCCompiler.cmake
out/CMakeFiles/3.26.3/CMakeSystem.cmake
out/CMakeFiles/3.26.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/CMakeFiles/3.26.3/CompilerIdCXX/CompilerIdCXX.exe
out/CMakeFiles/3.26.3/CompilerIdCXX/CompilerIdCXX.vcxproj
out/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
out/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
out/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
out/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
out/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
out/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
out/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
out/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
out/CMakeFiles/3.26.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
out/CMakeFiles/3.26.3/VCTargetsPath.txt
out/CMakeFiles/3.26.3/VCTargetsPath.vcxproj
out/CMakeFiles/3.26.3/x64/Debug/VCTargetsPath.recipe
out/CMakeFiles/3.26.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
out/CMakeFiles/c7cd2444b23bd01d4cb83abecafa06b9/moc_App.cpp.rule
out/CMakeFiles/cmake.check_cache
out/CMakeFiles/CMakeConfigureLog.yaml
out/CMakeFiles/f79f6301aca834af98ce672ae9b0ff42/generate.stamp.rule
out/CMakeFiles/f79f6301aca834af98ce672ae9b0ff42/ImageAnnotation_autogen.rule
out/CMakeFiles/f79f6301aca834af98ce672ae9b0ff42/INSTALL_force.rule
out/CMakeFiles/generate.stamp
out/CMakeFiles/generate.stamp.depend
out/CMakeFiles/generate.stamp.list
out/CMakeFiles/ImageAnnotation_autogen.dir/AutogenInfo.json
out/CMakeFiles/ImageAnnotation_autogen.dir/AutogenUsed_Debug.txt
out/CMakeFiles/ImageAnnotation_autogen.dir/ParseCache_Debug.txt
out/CMakeFiles/TargetDirectories.txt
out/Debug/ImageAnnotation.exe
out/Debug/ImageAnnotation.pdb
out/ImageAnnotation.dir/Debug/App.obj
out/ImageAnnotation.dir/Debug/ImageAnnotation.exe.recipe
out/ImageAnnotation.dir/Debug/ImageAnnotation.ilk
out/ImageAnnotation.dir/Debug/ImageAnnotation.log
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/CL.command.1.tlog
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/CL.read.1.tlog
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/CL.write.1.tlog
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/CustomBuild.command.1.tlog
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/CustomBuild.read.1.tlog
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/CustomBuild.write.1.tlog
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/ImageAnnotation.lastbuildstate
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/link.command.1.tlog
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/link.read.1.tlog
out/ImageAnnotation.dir/Debug/ImageAnnotation.tlog/link.write.1.tlog
out/ImageAnnotation.dir/Debug/ImageAnnotationYolo.obj
out/ImageAnnotation.dir/Debug/MainWindow.obj
out/ImageAnnotation.dir/Debug/moc_App.obj
out/ImageAnnotation.dir/Debug/mocs_compilation_Debug.obj
out/ImageAnnotation.dir/Debug/vc143.pdb
out/ImageAnnotation.sln
out/ImageAnnotation.vcxproj
out/ImageAnnotation.vcxproj.filters
out/ImageAnnotation.vcxproj.user
out/ImageAnnotation_autogen.vcxproj
out/ImageAnnotation_autogen.vcxproj.filters
out/ImageAnnotation_autogen/include_Debug/UVLADIE3JM/moc_App.cpp
out/ImageAnnotation_autogen/mocs_compilation_Debug.cpp
out/INSTALL.vcxproj
out/INSTALL.vcxproj.filters
out/JSON/Schemas/Catalog/https%003A%002F%002Fgo.microsoft.com%002Ffwlink%002F%003Flinkid%003D835884
out/src/moc_App.cpp
out/src/moc_App.cpp_parameters
out/x64/Debug/ALL_BUILD/ALL_BUILD.log
out/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
out/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
out/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
out/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
out/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
out/x64/Debug/ImageAnnotation_autogen/ImageAnn.DC60C3FD.tlog/CustomBuild.command.1.tlog
out/x64/Debug/ImageAnnotation_autogen/ImageAnn.DC60C3FD.tlog/CustomBuild.read.1.tlog
out/x64/Debug/ImageAnnotation_autogen/ImageAnn.DC60C3FD.tlog/CustomBuild.write.1.tlog
out/x64/Debug/ImageAnnotation_autogen/ImageAnn.DC60C3FD.tlog/ImageAnnotation_autogen.lastbuildstate
out/x64/Debug/ImageAnnotation_autogen/ImageAnnotation_autogen.log
out/x64/Debug/ImageAnnotation_autogen/ImageAnnotation_autogen.recipe
out/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
out/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
out/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
out/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
out/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
out/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
out/ZERO_CHECK.vcxproj
out/ZERO_CHECK.vcxproj.filters
